<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: deng;
        }
        h1{
            text-align: center;
        }
        .full{
            width: 100%;
        }
        .head-left{
            width: 50%;
            vertical-align: top;
        }
        .head-right{
            width: 50%;
            text-align: right;
        }
        hr{
            margin: 20px 0;
        }
        .company-name{
            font-weight: bold;
        }
        .sign{
            width:50px;
            float: right;
        }
        .tb-up{
            width: 90%;
            float: left;
        }
    </style>
</head>
<body>
    <h1>請 求 書</h1>
    <table class="full">
        <tr>
            <if condition="$tel !== '&nbsp;'">
                <td class="head-left ">〒{$tel}</td>
                <else />
                <td class="head-left "></td>
            </if>
            <td class="head-right">請求番号：{$no}</td>
        </tr>
        <tr>
            <td class="head-left">{$booker_place}</td>
            <td class="head-right">請求日：{$date}</td>
        </tr>
        <tr>
            <if condition="$booker_name !== '&nbsp;'">
                <td class="head-left"><b>{$booker_name}</b> 御中</td>
                <else />
                <td class="head-left"></td>
            </if>
            <td class="head-right"><img class="logo" style="height: 60px;" src="{$img}"></td>
        </tr>
    </table>
    <hr>
    <if condition="$sign === 'true'">
        <img class="sign" src="{$signImg}">
    </if>
    <table class="tb-up" style="padding-bottom: 30px;">
        <volist name="extra" id="row">
            <tr>
                <volist name="row" id="col">
                    <if condition="$col['label'] === 'EXCH'">
                        <td style="width: 25%;">RATE</td>
                        <td style="width: 25%;"><?php  echo explode('|',$col['value'])[1]  ?> ￥/＄</td>
                        <else/>
                        <td style="width: 25%;">{$col['label']}</td><td style="width: 25%;">{$col['value']}</td>
                    </if>
                </volist>
            </tr>
        </volist>
    </table>
    <table class="full" border="1" cellspacing="0">
        <tr style="background-color: #d9d9d9;">
            <td style="text-align: left;">明細項目</td>
            <td style="text-align: center;">詳細</td>
            <td style="text-align: right;">単価</td>
            <td style="text-align: center;">数量</td>
            <td style="text-align: center;">単位</td>
            <td style="text-align: center;">消費税</td>
            <td style="text-align: right;">金額</td>
        </tr>
        <?php $i = 0; ?>
        <volist name="detail" id="row">
            <?php if($i % 2 === 0 ){ ?>
            <tr style="background-color: #f2f2f2;">
            <?php } else { ?>
            <tr>
            <?php } ?>
                <td style="text-align: left;">{$row.item_name}</td>
                <td style="text-align: center;">{$row.detail}<?php echo $moneyMap[$row['currency']] ?></td>
                <td style="text-align: right;">¥ {$row.price|number_format}</td>
                <td style="text-align: center;">{$row.num}</td>
                <td style="text-align: center;">{$row.unit}</td>
                <td style="text-align: center;">{$row.tax}</td>
                <td style="text-align: right;">¥ {$row.total|number_format}</td>
            </tr>
        </volist>
    </table>
    <div style="text-align: right;padding: 10px 0;">[*消費税対象金額 ¥ {$in_tak|default='0'|number_format}]</div>
    <hr>
    <table class="full">
        <tr>
            <td>小計</td>
            <td style="text-align: right;">¥ {$subtotal|number_format}</td>
        </tr>
        <tr>
            <td>消費税</td>
            <td style="text-align: right;">¥ {$tak_total|default='0'|number_format}</td>
        </tr>
        <tr>
            <td style="font-size: 16px;font-weight: bold;">御請求金額</td>
            <td style="text-align: right;font-size: 16px;font-weight: bold;">¥ {$total|floor|number_format}</td>
        </tr>
    </table>
    <hr>
    <div style="margin: 10px 0;">ご送金の節は下記へお願い申し上げます。</div>
    <div style="margin: 10px 0 30px;">尚、振り込み手数料は御社にてご負担下さいますようお願い申し上げます。</div>
    <table class="full">
        <tr>
            <td style="vertical-align: top;line-height: 22px;">{$bank}</td>
            <td style="width: 1em;vertical-align: top;line-height: 22px;"><li style="color: #558ed5;float: left;font-size: 30px;"></li></td>
            <td style="vertical-align: top;line-height: 22px;"><div style="float: right;">{$address}</div></td>
        </tr>
    </table>
</body>
</html>